<link rel="shortcut icon" type="image/png" href="~/lib/assets/favicon.ico" />
<!-- Plugins CSS -->
<link rel="stylesheet" href="~lib/styles/plugins.css" />
<!-- Main CSS -->
@model Travel.Web.Models.SignInInput
<link rel="stylesheet" href="~/lib/styles/main.css" />
<div class="container">
	<div class="row">
		<div class="col-lg-4 offset-lg-4">

			<form class="rlr-authforms" asp-controller="Auth" asp-action="SignIn" method="post">
				<div class="rlr-authforms__header">
					<img src="~/lib/assets/images/logos/Logomark.svg" alt="Logo" />
					<h2>Log in to your emprise</h2>
					<p>Welcome back! Please enter login details.</p>
				</div>
				<div class="rlr-authforms__form">
					<div class="text-danger" asp-validation-summary="ModelOnly"></div>

					<div class="rlr-authforms__inputgroup">
						<label asp-for="Email" class="rlr-form-label rlr-form-label--light required"> Email </label>
						<input type="text" asp-for="Email" autocomplete="off" class="form-control form-control--light" />
						<span class="text-danger" asp-validation-for="Email"></span>
					</div>
					<div class="rlr-authforms__inputgroup">
						<label asp-for="Password" class="rlr-form-label rlr-form-label--light required"> Password </label>
						<input type="password" asp-for="Password" autocomplete="off" class="form-control form-control--light" />
						<span class="text-danger" asp-validation-for="Password"></span>
					</div>
					<div class="rlr-authforms__forgotpassword">
						<div class="form-check-inline">
							<input asp-for="IsRemember" class="form-check-input rlr-form-check-input" id="rlr-checkbox-1" type="checkbox" value="defaultValue" />
							<label asp-for="IsRemember" class="rlr-form-label rlr-form-label--checkbox rlr-form-label--font-inherit rlr-form-label--bold" for="rlr-checkbox-1">Remember me on this device</label>
						</div>
						<a href="account-pages--forgot-password">Forgot password</a>
					</div>
					<button type="submit" class="btn mb-3 rlr-button rlr-button--fullwidth rlr-button--primary">Sign in</button>
				</div>
				<div class="rlr-authforms__notes">
					<p>Don’t have an account? <a href="account-pages--signup">Sign up</a></p>
				</div>
			</form>
		</div>
	</div>
</div>
<script src="~/lib/vendors/navx/js/navigation.min.js" defer></script>
<script src="~/lib/js/main.js" defer></script>