<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="ThemeMakker">
	<link rel="icon" href="favicon.ico" type="image/x-icon">
	<title>:: BigBucket :: Profile</title>
	<link rel="stylesheet" href="../assets/vendor/themify-icons/themify-icons.css">
	<link rel="stylesheet" href="../assets/vendor/fontawesome/css/font-awesome.min.css">

	<link rel="stylesheet" href="../assets/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.min.css">

	<!-- MAIN CSS -->
	<link rel="stylesheet" href="../assets/css/main.css" type="text/css">
	<link rel="stylesheet" href="../assets/css/blog.css">
</head>
<body class="theme-indigo">
	<nav class="navbar custom-navbar navbar-expand-lg py-2">
		<div class="container-fluid px-0">
			<a href="javascript:void(0);" class="menu_toggle"><i class="fa fa-align-left"></i></a>
			<a href="index.html" class="navbar-brand">
				<img src="../assets/images/brand/icon.svg" alt="BigBucket" />
				<strong>Big</strong> Bucket
			</a>
		</div>
	</nav>
	<div class="main_content" id="main-content">

		<div class="left_sidebar">
			<nav class="sidebar">
				<div class="user-info">
					<div class="image"><a href="javascript:void(0);"><img src="../assets/images/user.png" alt="User"></a></div>
					<div class="detail mt-3">
						<h5 class="mb-0">Mike Thomas</h5>
						<small>Admin</small>
					</div>
					<div class="social">
						<a href="javascript:void(0);" title="facebook"><i class="ti-twitter-alt"></i></a>
						<a href="javascript:void(0);" title="twitter"><i class="ti-linkedin"></i></a>
						<a href="javascript:void(0);" title="instagram"><i class="ti-facebook"></i></a>
					</div>
				</div>
				<ul id="main-menu" class="metismenu">
					<li class="g_heading">Main</li>
					<li><a href="index.html"><i class="ti-home"></i><span>Dashboard</span></a></li>
					<li><a href="ui-elements.html"><i class="ti-vector"></i><span>UI Elements</span></a></li>
					<li class="g_heading">Application</li>
					<li><a href="app-calendar.html"><i class="ti-calendar"></i><span>Calendar</span></a></li>
					<li><a href="app-taskboard.html"><i class="ti-notepad"></i><span>TaskBoard</span></a></li>
					<li><a href="app-inbox.html"><i class="ti-email"></i><span>Inbox</span></a></li>
					<li><a href="app-chat.html"><i class="ti-comments"></i><span>Chat Apps</span></a></li>
					<li><a href="app-contact.html"><i class="ti-id-badge"></i><span>Contact List</span></a></li>
					<li><a href="widgets.html"><i class="ti-widget"></i><span>Widgets</span></a></li>

					<li class="g_heading">Chart, Froms & Elements</li>
					<li>
						<a href="javascript:void(0)" class="has-arrow"><i class="ti-pie-chart"></i><span>Charts</span></a>
						<ul>
							<li><a href="chart-c3.html">C3 Chart</a></li>
							<li><a href="chartsjs.html">Charts JS</a></li>
							<li><a href="chart-flot.html">Flot Chart</a></li>
							<li><a href="chart-knob.html">JQuery Knob</a></li>
							<li><a href="chart-morris.html">Morris Chart</a></li>
							<li><a href="chart-sparkline.html">Sparkline Chart</a></li>
						</ul>
					</li>
					<li>
						<a href="javascript:void(0)" class="has-arrow"><i class="ti-pencil-alt"></i><span>Forms</span></a>
						<ul>
							<li><a href="form-elements.html">Basic Elements</a></li>
							<li><a href="form-advanced.html">Advanced Elements</a></li>
							<li><a href="form-validation.html">Form Validation</a></li>
							<li><a href="form-wizard.html">Form Wizard</a></li>
							<li><a href="form-summernote.html">Summernote</a></li>
							<li><a href="form-markdown.html">Markdown</a></li>
						</ul>
					</li>
					<li>
						<a href="javascript:void(0)" class="has-arrow"><i class="ti-view-list"></i><span>Tables</span></a>
						<ul>
							<li><a href="table-basic.html">Table Example</a></li>
							<li><a href="table-normal.html">Table Normal</a></li>
							<li><a href="table-datatable.html">Jquery Datatable</a></li>
							<li><a href="table-editable.html">Table Editable</a></li>
							<li><a href="table-foo.html">Table Foo</a></li>
						</ul>
					</li>
					<li class="g_heading">Users</li>
					<li class="active"><a href="page-profile.html"><i class="ti-user"></i><span>Profile</span></a></li>
					<li><a href="page-timeline.html"><i class="ti-menu-alt"></i><span>Timeline</span></a></li>
					<li><a href="page-invoices.html"><i class="ti-file"></i><span>Invoices</span></a></li>
					<li class="g_heading">Authentication</li>
					<li>
						<a href="javascript:void(0)" class="has-arrow"><i class="ti-lock"></i><span>Authentication</span></a>
						<ul>
							<li><a class="dropdown-item" href="auth-login.html">Login</a></li>
							<li><a class="dropdown-item" href="auth-register.html">Register</a></li>
							<li><a class="dropdown-item" href="auth-forgot-password.html">Forgot password</a></li>
							<li><a class="dropdown-item" href="auth-lock-screen.html">Lock Screen</a></li>
						</ul>
					</li>
					<li>
						<a href="javascript:void(0)" class="has-arrow"><i class="ti-na"></i><span>Error Pages</span></a>
						<ul>
							<li><a class="dropdown-item" href="error-400.html">400 error</a></li>
							<li><a class="dropdown-item" href="error-401.html">401 error</a></li>
							<li><a class="dropdown-item" href="error-403.html">403 error</a></li>
							<li><a class="dropdown-item" href="error-404.html">404 error</a></li>
							<li><a class="dropdown-item" href="error-500.html">500 error</a></li>
							<li><a class="dropdown-item" href="error-503.html">503 error</a></li>
						</ul>
					</li>
					<li class="g_heading">Extra</li>
					<li>
						<a href="javascript:void(0)" class="has-arrow"><i class="ti-clipboard"></i><span>Pages</span></a>
						<ul>
							<li><a href="page-empty.html">Empty page</a></li>
							<li><a href="page-pricing.html">Pricing cards</a>
							<li><a href="page-search.html">Search Results</a></li>
							<li><a href="page-testimonials.html">Testimonials</a></li>
							<li><a href="page-icons.html">Icons</a></li>
							<li><a href="page-gallery.html">Gallery</a></li>
						</ul>
					</li>
					<li><a href="docs/introduction.html"><i class="ti-file"></i><span>Documentation</span></a></li>
				</ul>
			</nav>
		</div>
		@RenderBody()
	</div>

	<!-- Javascript -->
	<script src="../assets/bundles/libscripts.bundle.js"></script>
	<script src="../assets/bundles/vendorscripts.bundle.js"></script>

	<script src="../assets/bundles/knob.bundle.js"></script> <!-- Jquery Knob-->
	<script src="../assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>

	<script src="../assets/js/theme.js"></script>
	<script>
		$(function () {
			$('.knob').knob({
				draw: function () {
					// "tron" case
					if (this.$.data('skin') == 'tron') {

						var a = this.angle(this.cv)  // Angle
							, sa = this.startAngle          // Previous start angle
							, sat = this.startAngle         // Start angle
							, ea                            // Previous end angle
							, eat = sat + a                 // End angle
							, r = true;

						this.g.lineWidth = this.lineWidth;

						this.o.cursor
							&& (sat = eat - 0.3)
							&& (eat = eat + 0.3);

						if (this.o.displayPrevious) {
							ea = this.startAngle + this.angle(this.value);
							this.o.cursor
								&& (sa = ea - 0.3)
								&& (ea = ea + 0.3);
							this.g.beginPath();
							this.g.strokeStyle = this.previousColor;
							this.g.arc(this.xy, this.xy, this.radius - this.lineWidth, sa, ea, false);
							this.g.stroke();
						}

						this.g.beginPath();
						this.g.strokeStyle = r ? this.o.fgColor : this.fgColor;
						this.g.arc(this.xy, this.xy, this.radius - this.lineWidth, sat, eat, false);
						this.g.stroke();

						this.g.lineWidth = 2;
						this.g.beginPath();
						this.g.strokeStyle = this.o.fgColor;
						this.g.arc(this.xy, this.xy, this.radius - this.lineWidth + 1 + this.lineWidth * 2 / 3, 0, 2 * Math.PI, false);
						this.g.stroke();

						return false;
					}
				}
			});
		});
	</script>
</body>
</html>